* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.panier_vide {
  background-color: #000;
  width: 250px;
  height: 50px;
  padding: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;

  & .fa-basket-shopping {
    font-size: 20px;
    color: #ff9d00;
  }
}

/* panier card container */
.panier {
  width: 1000px;
  padding: 20px;
  display: grid;
  place-content: center;
}

.panier_container {
  width: 400px;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

.panier_header {
  /* background-color: #FF9D00; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eeeeeec3;
  height: 80px;

  & .close_btn {
    cursor: pointer;
  }
}

.panier_element {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.panier_element .image {
  width: 80px;
  height: 80px;
}

.panier_element .image img {
  width: 100%;
  height: 100%;
  object-fit: center;
  object-position: center;
  border-radius: 100%;
  border: 3px solid #eef211ae;
}

.center {
  color: #b3b0b0;
  /* background-color: #FF9D00; */
  & h5 {
    font-weight: 300;
  }
  & p {
    padding: 5px 0;
  }
}

.price_order_control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.center .btn_control {
  /* background-color: #a62b2b; */
  padding: 5px 0;

  & button {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    line-height: 20px;
  }

  & span {
    display: inline-block;
    padding: 0 10px;
  }
}

.fa-trash-can {
  cursor: pointer;
  color: #ff9d00;
}
/* panier command */
.panier_command {
  padding: 10px;
}

.panier_command .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right_content_card {
  & p {
    margin: 15px 0;
  }
}

.btn_command {
  /* background-color:red; */
  text-align: center;
  height: 40px;
  transform: translateY(10px);
  & button {
    width: 200px;
    height: 100%;
    outline: none;
    border: none;
    background-color: #ff9d00;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 300;
    letter-spacing: 0.8px;
    font-size: 20px;
  }
}

#total_ttc {
  font-size: 25px;
  color: #ff9d00;
}

.left_content_card :last-child,
#sous_total {
  color: #ff9d00;
}
