@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  /* background-color: white; */
  color: white;
  font-family: inter, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  height: 70px;
  background-color: black;
  position: relative;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  flex: 1;
  margin-left: 20px;
}

.plus {
  color: red;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex: 2;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-weight: 300;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: gray;
}

.cart {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.cart i {
  width: 25px;
  cursor: pointer;
  transition: color 0.3s;
}

.cart i:hover {
  color: orangered;
}

.menu-icon {
  display: none !important;
  font-size: 1.8rem;
  cursor: pointer;
  position: absolute;
  right: 20px;
  transition: transform 0.3s ease-in-out;
}

.menu-icon.fa-xmark {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .nav-links {
    z-index: 100;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: black;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 0;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: block !important; /* Show on mobile */
  }

  .logo {
    text-align: center;
    margin-left: 0;
  }
}
/* panier card container */
.panier {
  width: 1000px;
  padding: 20px;
  display: grid;
  place-content: center;
}

.panier_container {
  width: 400px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  position: absolute;
  right: 0;
  top: -600px;
  z-index:-1;
  transition: all 1s linear;
  opacity: 0;
}

.panier_header {
  /* background-color: #FF9D00; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eeeeeec3;
  height: 80px;

  & .close_btn {
    cursor: pointer;
  }
}

.panier_element {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.panier_element .image {
  width: 80px;
  height: 80px;
}

.panier_element .image img {
  width: 100%;
  height: 100%;
  object-fit: center;
  object-position: center;
  border-radius: 100%;
  border: 3px solid #eef211ae;
}

.center {
  color: #b3b0b0;
  /* background-color: #FF9D00; */
  & h5 {
    font-weight: 300;
  }
  & p {
    padding: 5px 0;
  }
}

.price_order_control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.center .btn_control {
  /* background-color: #a62b2b; */
  padding: 5px 0;

  & button {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    line-height: 20px;
  }

  & span {
    display: inline-block;
    padding: 0 10px;
  }
}

.fa-trash-can {
  cursor: pointer;
  color: #ff9d00;
}
/* panier command */
.panier_command {
  padding: 10px;
}

.panier_command .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right_content_card {
  & p {
    margin: 15px 0;
  }
}

.btn_command {
  /* background-color:red; */
  text-align: center;
  height: 40px;
  transform: translateY(10px);
  & button {
    width: 200px;
    height: 100%;
    outline: none;
    border: none;
    background-color: #ff9d00;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 300;
    letter-spacing: 0.8px;
    font-size: 20px;
  }
}

#total_ttc {
  font-size: 25px;
  color: #ff9d00;
}

.left_content_card :last-child,
#sous_total {
  color: #ff9d00;
}



.panier_container.show{
  top: 100px;
  opacity: 1;
  z-index: 222222;
}


/* card */
.data_card{
width: 1200px;
background-color: red;
margin: auto;
padding: 20px;
display: grid;
grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
}


.card{
  width: 200px;
  padding: 10px;
  background-color: #ff9d00;
}


.card img{
  width: 30px;
  height: 30px;
}