<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- Inter font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/components/footer/styles.css" />
  </head>
  <body>
    <footer class="site-footer">
      <div class="footer-wrap">
        <div class="brand">FOODORDER<span class="plus">+</span></div>

        <nav class="footer-nav" aria-label="Footer">
          <a href="#">Home</a>
          <a href="#">Product</a>
          <a href="#">About us</a>
        </nav>
      </div>
    </footer>
  </body>
</html>
